.flex-container {
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;

}