body {
    background-color: lightgray;
}

.comeco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    border-style: solid;
    background-color: bisque;
}

.texto_meio {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: darkgreen;
}

#img {
    width: 150px;
    height: auto;
}



.textos {
    text-align: center;
    color: indigo;
}

h3 {
    text-align: center;
}

.livros {
    display: flex;
    gap: 10px;
    margin: auto;
    
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
}