/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #74c0b3;
  padding: 10px;
  text-align: center;
}

header .logo {
  max-width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: #fff;
}

h2 {
  color: #007a7a;
  margin-bottom: 15px;
}

.product-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product img {
  width: 100%;
  height: auto;
}

.product-name {
  font-weight: bold;
  margin-top: 10px;
}

.product-price {
  color: #007a7a;
  margin-top: 5px;
}

.whatsapp-link img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  background-color: #74c0b3;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 14px;
}
